table {
  width: 800px;
  height: 200px;
}

th {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

td {
  text-align: center;
  border-bottom: 1px solid black;
}
h1 {
  text-align: left;
}
